%h1 Welcome to "Yet annother Sinatra template Application" (YaSApp)!
%p= "The well formed current date time is: " + @current_date
%hr

%h1 Simple Pass Filter
%p
  Click these prepared links and see, if you are 
  %a{href: "/pass?user=john&password=doe&ip=185.326.103.136"} passing
  OR
  %a{href: "/pass?user=john&password=wrong-one&ip=185.326.103.136"} not passing
  ?
%hr

%h1 String Reverse Service
%p
  This form accepts a string and returns it reversed. Have fun!
  %form{ action: "/reverse", method: "post" }
    %input#str{ name: "str", type: "text", value: "Type a string ..." }/
    %input{ type: "submit", value: "... and reverse it!" }/
%hr

%h1 Stock Quote Retrieval
%p
  This form accepts a stock symbol (e.g. AMZN, AAPL, GOOG ...) and returns the current quote!
  %form{ action: "/quote", method: "post" }
    %input#str{ name: "symbol", type: "text", value: "GOOG" }
    %input{ type: "submit", value: "Fetch the quote!" }
%hr
